.cart-items {
    display: flex;
    position: relative;
    cursor: pointer;
}

.cart-items-amount {
    margin-left: 5px;
    background: $yellow;
    opacity: 0.8;
    border-radius: 10px;
    padding: 0px 4px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
}

.checkout-cart-item {
    display: flex;
    margin-bottom: 1.25rem;
    border: 2px solid $lavender;
    background: $lavender_op;
    border-radius: 0.25rem;
    padding: 0.75rem;
}

.checkout-cart-item:last-of-type {
    margin-bottom: 0;
}

.checkout-cart-totals {
    padding: 0.75rem;
    border: 2px solid $lavender;
    background: $lavender_op;
    border-radius: 0.25rem;
}

.checkout-payment-method {
    opacity: 0.8;
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 0.25rem;
    background: $lightgrey;
    margin-bottom: 1.25rem;
    transition: all 0.5s ease;
    border: 2px solid $lavender;

    &:hover {
        opacity: 1;
    }

    &.active {
        background: $yellow;
    }
}